body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item {
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  display:inline-flex;
  flex-direction: row;
  width: 100%;
  border-bottom:1px dashed #d9d9d9;
}

.item > * {
  padding: 0.5rem;
}
